.logo {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1em;
}
.menu ul li {
    display: inline;
}
.menu ul li a {
    text-decoration: none;
    color: #333;
}
.menu ul li a.active,
.menu ul li a:hover {
    color: #007BFF;
    border-bottom: 2px solid #007BFF;
}

main {
    padding: 1em;
    max-width: 800px;
    margin: 0 auto;
}

main h1 {
    text-align: center;
}

.app-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px; 
    padding: 10px; 
  }
  
  .app-grid article {
    background-color: #F4F6F7;
    padding: 15px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .app-grid article h2 {
    margin-top: 0;
  }
  
  .app-grid article a {
    display: inline-block;
    margin-top: 10px;
    color: #DE2333; 
    text-decoration: none;
  }
  
  .app-grid article a:hover {
    text-decoration: underline;
  }




