body {
    font-family: 'Source Sans Pro', Arial, sans-serif;;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    max-height: 50%;
    height: auto;
    display: block;
}

header {
    background-color: #ffffff;
    color: #000000;
    text-align: left;
    padding: 1rem 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

header h1{
    letter-spacing: -3px;
    font-size: 3.5rem;
    
}

.delgado {
    font-weight: normal;
}

nav {
    margin-top: 10px; 
    text-align: left;
    text-transform: uppercase;
}

.nav-list {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex; 
    gap: 20px; 
    justify-content: left; 
}

.nav-list a {
    text-decoration: none; 
    color: inherit; 
    font-weight: bold; 
    padding: 5px 10px; 
}
.hero {
    height: 50vh;
    background-image: url('img/bg-hero-home.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4.5rem; 
    text-align: center;
    padding: 0 25%;
}

.acerca {
    
    text-align: left;
    margin: 0 auto;
    max-width: 800px;
    font-size: 1.5rem;
}

.acerca h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.noticias {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.noticias h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.noticias-item {
    display: flex;
    flex-direction: column;
    width: 300px;
    overflow: hidden;
}

.noticias-item h3 {
    color: #DE2333;
    margin: 0.5rem 0;
    font-size: 1.3rem;    
}

.noticias-item time {
    font-size: 0.9rem;
}

.noticias-item p {
    margin: 0.5rem 0 1rem;
}

.noticias-item a {
    color: #DE2333;
    text-decoration: none;
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: uppercase;
}

.noticias-item img {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

footer {
    text-align: left;
    padding: 1rem 0;
    font-size: 0.9rem;
    text-decoration: none;
    
}

.pie-pagina {
    background-color: #000000;
    color: #ffffff;
}

footer a {
    color: #ffffff;
    text-decoration: none;     
}

footer p {
    margin: 0;
    margin-left: 19rem;
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: left;
}

.social-iconos {
    display: flex;
    justify-content: left;
    margin-left: 19rem;
}

.copy{
    font-size: 0.7rem;
}

